<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">           
  <div class="container">
    <div class="navbar-header"> 
      <div class="row" style="text-align: center">
        <div class="col-md-2">
          <img src="../../assets/weather-icon.png" style="height:100px" >
        </div>
        <div class="col-md-9">
          <h3>The World's Weather Today</h3>
        </div>  
        <div class="col-md-1">
          &nbsp;
        </div>  
      </div>
    </div>
  </div>
</nav>
 <div class="row"></div>
 <div class="row" style="text-align: center">
 <app-add-city></app-add-city>
 </div>

    

